body {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 1.125rem;
}

.logo {
    color: #F9FAF8;
    font-size: 1.5rem;
    padding-right: 20px;
}

.header {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-left: 250px;
    padding-right: 250px;
    font-family: "Roboto", sans-serif;
    background-color: #1F2937;
}

.container-1 {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}

.links {
    display: flex;
    gap: 20px;
}

.links a:hover {
    color: #3882F6;
}

.container-2 {
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 150px;
    flex-wrap: wrap;
}

.main-title {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    width: 100%;
}

.main-title h1 {
    font-size: 3rem;
    color: #F9FAF8;
    font-weight: 900;
    margin-bottom: 8px;
}

.main-title p {
    color: #E5E7EB;
    font-size: 1.125rem;
    margin-top: 0;
    margin-bottom: 24px;
}

.main-info-anchors {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.main-info-anchors button {
    height: 50px;
    width: 350px;
    font-size: 1rem;
    font-weight: bold;
}

button {
    width: 120px;
    padding: 10px;
    border-radius: 10px;
    color: #F9FAF8;
    background-color: #3882F6;
    border-color: #3882F6;
    cursor: pointer;
}

button:hover {
    color: #1F2937
}



.body-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
}

.header-inf-text {
    color: #1F2937;
    font-size: 2.25rem;
    font-weight: 900;
    padding-top: 20px;
    padding-bottom: 20px;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    flex-wrap: wrap;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 50px;
}

.card-container {
    border: 4px solid #3882F6;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
}

.card-container img {
    height: 80%;
    width: auto;
}

.card-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects-container {
    background-color: #E5E7EB;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.projects-title {
    font-size: 2.25rem;
    font-weight: 900;
    color: #1F2937;
    display: flex;
    justify-content: center;
}

.projects {
    height: 100%;
    margin-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 90px;
}

.projects-card {
    border: 5px solid #3882F6;
    border-radius: 20px;
    height: 650px;
    width: 450px;

    /* text setgings */
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-to-action-container {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-to-action {
    border: 2px solid #3882F6;
    background-color: #3882F6;
    border-radius: 15px;
    height: 150px;
    width: 55%;
    display: flex;
}

.p1,
.p2 {
    margin: 0;
    padding-left: 20%;
}

.p1 {
    color: white;
    font-size: 1.25rem;
    font-weight: bold;
}

.p2 {
    color: rgb(222, 222, 222);
}


.left-side {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 20px;
}

.right-side {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-side button {
    border-color: white;
    font-weight: bold;
    font-size: 0.875rem;
}


.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: #1F2937;
    color: white;
    font-family: sans-serif;
    font-weight: 300;
    font-size: 0.875rem;
}

.copyright-symbol {
    margin-right: 8px;
    margin-left: 4px;
}