/* ---------- initial settings ---------- */
* {
    @import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@700&display=swap');
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 700;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --bg-dark: #070B10;
    --text-white: ##ffffff;
    --text-grey: #c2c2c2;
    --accent-green: #b7e72a;
}

body {
    background-color: var(--bg-dark);
    color: var(--text-grey);
}
/* ---------- initial settings ---------- */


/* ---------- nav ---------- */
#nav {
    font-size: 1.1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 80px;
    padding: 0px 350px;

    border-bottom: 1px solid transparent;
    border-image: linear-gradient(to right, #b7e72a, #50514e, #50514e) 1;

    position: sticky;
    top: 1px;
}

#nav-right-side {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-p:hover {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: var(--accent-green);
    text-underline-offset: 7px;
}

#contact-btn {
    border: 1px solid var(--accent-green);
    border-radius: 20px;
    background-color: var(--bg-dark);
    color: var(--accent-green);


    width: 85px;
    height: 40px;
    padding: 7px;
}
/* ---------- nav ---------- */